@import "https://fonts.google.com/specimen/Manrope";

$border: 0.75rem;

$font: 13px;

$DarkBlue: hsl(217, 19%, 35%);
$Blue: hsl(214, 17%, 51%);
$grayBlue: hsl(212, 23%, 69%);
$lightGrayBlue: hsl(210, 46%, 95%);
$margin: 0.75rem;
$padding: 0.75rem;

//  unites
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Manrope, sans-serif;
  background-color: $lightGrayBlue;
  padding: 0;
  margin: 0;
}
.card {
  display: flex;
  max-width: 50vw;
  background-color: #fff;
  border-radius: $border;
  overflow: hidden;
  .bg {
    flex: 1;
    background-image: url("../images/drawers.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
  }
  .body {
    flex: 2;
    margin: 1.5rem;
    .title {
      font-weight: bold;
    }
    .body {
      margin: 0.75rem 0;
      font-size: $font;
      color: $Blue;
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        img {
          $imgSize: 40px;
          width: $imgSize;
          height: $imgSize;
          border-radius: 50%;
          margin-top: 0.5rem;
        }
        .about {
          $margin: 0.75rem;
          margin: $margin 0 $margin 0.75rem;
          font-size: $font;
          .title {
          }
          .sub {
            color: $Blue;
          }
        }
      }
      .icon {
        background-color: $lightGrayBlue;
        padding: 0.5rem 0.6rem;
        border-radius: 50%;
        position: relative;
        .info {
          display: none;
        }
        > path {
          fill: $DarkBlue;
        }
        &.active,
        &:hover {
          background-color: $DarkBlue;
          .share path {
            fill: $lightGrayBlue;
          }
        }
      }
    }
  }
}
.attribution {
  display: none;
}
@media only screen and (min-width: 375px) {
  .icon:hover {
    .info {
      z-index: 1;
      position: absolute;
      bottom: 150%;
      right: -50%;
      display: flex !important;
      background-color: $DarkBlue;
      color: $lightGrayBlue;
      padding: $padding;
      border-radius: $border;
      &::after {
        content: "";
        border: 1rem solid;
        border-color: $DarkBlue transparent transparent transparent;
        position: absolute;
        bottom: -70%;
        right: 10%;
      }
      * {
        margin: 0 $margin/2;
      }
      path {
        fill: $lightGrayBlue;
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  #body {
    .card {
      flex-direction: column;
      min-width: 80vw;
      .bg {
        min-height: 40vh;
      }
      .body {
        margin: 0;
        > .title {
          margin: 1rem 1.5rem;
        }
        .body {
          margin: 0 1.5rem;
        }
        .footer {
          padding: $padding/2;
          margin-top: $margin;

          &.active {
            background-color: $DarkBlue;
            .left {
              display: none;
            }
            .icon {
              background-color: $DarkBlue;
              display: flex;
              justify-content: space-between;
              border-radius: 0;
              width: 100%;
              .info {
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: $grayBlue;
                font-weight: lighter;
              }
              path {
                fill: $lightGrayBlue;
              }
              .share,
              .share:hover {
                padding: 0.5rem 0.6rem;
                border-radius: 50%;
                background-color: $grayBlue;
              }
            }
          }
        }
      }
    }
  }
}
