@import "https://fonts.google.com/specimen/Manrope";
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Manrope, sans-serif;
  background-color: #ecf2f8;
  padding: 0;
  margin: 0;
}

.card {
  transform: scale(1.3);
  display: flex;
  height: 175px;
  background-color: #fff;
  border-radius: 0.75rem;
  overflow: hidden;
}
.card .bg {
  width: 177px;
  height: 100%;
  background-image: url("../images/drawers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card .body {
  font-size: 13px;
  box-sizing: border-box;
  width: 248px;
  margin: 30px;
}
.card .body .title {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  color: #48556a;
}
.card .body .body {
  margin: 12px 0 10px 0;
  font-size: 9px;
  color: #6d7f97;
}
.card .body .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .body .footer .left {
  display: flex;
}
.card .body .footer .left img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.5rem;
}
.card .body .footer .left .about {
  margin: 0.75rem 0 0.75rem 0.75rem;
}
.card .body .footer .left .about .title {
  color: #48556a;
  font-size: 10px;
}
.card .body .footer .left .about .sub {
  color: #6d7f97;
  font-size: 9px;
}
.card .body .footer .icon {
  background-color: #ecf2f8;
  padding: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
}
.card .body .footer .icon .info {
  display: none;
}
.card .body .footer .icon > path {
  fill: #48556a;
}
.card .body .footer .icon.active, .card .body .footer .icon:hover {
  background-color: #48556a;
}
.card .body .footer .icon.active .share path, .card .body .footer .icon:hover .share path {
  fill: #ecf2f8;
}

.attribution {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: content;
  flex: 1;
  padding: 0.25rem;
}

@media only screen and (min-width: 450px) {
  .icon:hover .info {
    z-index: 1;
    position: absolute;
    bottom: 150%;
    right: -50%;
    display: flex !important;
    background-color: #48556a;
    color: #ecf2f8;
    padding: 0.75rem;
    border-radius: 0.75rem;
  }
  .icon:hover .info::after {
    content: "";
    border: 1rem solid;
    border-color: #48556a transparent transparent transparent;
    position: absolute;
    bottom: -70%;
    right: 10%;
  }
  .icon:hover .info * {
    margin: 0 0.375rem;
  }
  .icon:hover .info path {
    fill: #ecf2f8;
  }
}
@media only screen and (max-width: 375px) {
  #body .card {
    flex-direction: column;
    min-width: 80vw;
    height: auto;
  }
  #body .card .bg {
    min-height: 40vh;
    width: 100%;
  }
  #body .card .body {
    margin: 0;
  }
  #body .card .body > .title {
    margin: 1rem 1.5rem;
  }
  #body .card .body .body {
    box-sizing: border-box;
    max-width: calc(100% - 1.6rem);
    margin: 0 1.5rem;
  }
  #body .card .body .footer {
    padding: 0.375rem;
    margin-top: 0.75rem;
  }
  #body .card .body .footer.active {
    background-color: #48556a;
  }
  #body .card .body .footer.active .left {
    display: none;
  }
  #body .card .body .footer.active .icon {
    background-color: #48556a;
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    width: 100%;
  }
  #body .card .body .footer.active .icon .info {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #9eafc2;
    font-weight: lighter;
  }
  #body .card .body .footer.active .icon path {
    fill: #ecf2f8;
  }
  #body .card .body .footer.active .icon .share,
#body .card .body .footer.active .icon .share:hover {
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
    background-color: #9eafc2;
  }
}
@-moz-document url-prefix() {
  .card .body {
    margin: 20px;
  }
  .card .body .title {
    font-size: 12px;
  }
  .card .body .body {
    margin: 10px 0 8px 0;
  }
}

/*# sourceMappingURL=style.css.map */
